body {
    backdrop-filter: blur(20px);
    background-image: url('bckgrnd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #490042;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.visual {
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.849);
    box-shadow: 0px 0px 30px #6d6d6d5e;
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 0px;
    margin: 0 auto;
    width: 1100px;
    justify-content: center;
    border-radius: 20px;
}

.newproject {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 50px;
    font-style: italic;
    color: orange;
}

.dstu {
    color: orange;
    text-decoration: none;
}

.bigT {
    color: #490042;
    margin-left: 50px;
    margin-top: 0px;
    font-size: 50px;
}

.header {
    color: #490042;
    background: #ffffffd5;
    box-shadow: 0px 0px 10px #6d6d6d5e;
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 15px 50px;
    display: flex;
    position: sticky;
    z-index: 2;
    justify-content: center;
    top: 0;
    margin-bottom: 3px;
}

.welcomeToT {
    margin-top: 55px;
    border-radius: 50px;
    border-bottom-right-radius: 3px;
    margin-left: 340px;
    width: 68%;
    box-shadow: 0px 0px 30px #6d6d6d85;
    margin-right: 20px;
}

.logoText {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    font-weight: bold;
}

.logoText a {
    color: #490042;
    text-decoration: none;
    display: flex;
    position: relative;
    margin-right: 350px;
}

.logoImage {
    width: 50px;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
}

.navLinks a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.t-university {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    max-width: 550px;
    border-radius: 30px;
}

.info {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(15px);
    padding: 20px 25px;
    border-radius: 30px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px 0px 30px #6d6d6d5e;
    margin-left: 15px;
    max-width: 800px;
}

.dayT {
    max-height: 300px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    box-shadow: 0px 0px 30px #6d6d6d5e;
}

.dTpt1 {
    max-width: 500px;
}

.dTpt2 {
    max-width: 500px;
}

.dTinfo {
    display: flex;
    column-gap: 50px;
}

.ourevents {
    display: flex;
    justify-content: center;
}

.h2form {
    margin-block-end: 0px;
}

.sendyouremail {
    margin-block-start: 0px;
}

.infoText {
    margin-bottom: 0px;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

.intensive {
    margin-bottom: 0px;
}

.arrow {
    margin-top: 0px;
    margin-left: 200px;
    max-width: 250px;
}

form {
    background-image: url('bckgrnd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 400px;
    box-shadow: 0 2px 8px #6d6d6d;
    background-color: white;
    margin-top: 50px;
    padding: 16px 40px 30px 80px;
    border-radius: 30px;
}

.contacts {
    position: relative;
    left: 50px;
    box-shadow: 0 2px 8px #6d6d6d;
    background-color: rgba(233, 233, 233, 0.555);
    backdrop-filter: blur(10px);
    margin-top: 50px;
    padding: 16px 50px 30px 50px;
    border-radius: 30px;
    max-width: 250px;
}

.cont {
    margin-bottom: 0px;
}

.adress {
    margin-top: 40px;
}

.anyquestions {
    margin-top: 0px;
    margin-bottom: 40px;
}

.sendform {
    display: flex;
    justify-content: center;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
}

.btnform {
    display: block;
    margin: 0 auto;
    background-color: #ff9100;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
}

.btnmore1 {
    background-image: url('btnmoreback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    padding: 10px 60px;
    color: white;
    box-shadow: 0px 0px 30px #6d6d6d5e;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
}

.btnmore2 {
    background-image: url('btnmoreback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
}

.policy {
    margin-block-start: 0px;
    font-size: 12px;
}